body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

button {
  margin-right: 10px;
}
ul {
  counter-reset: li;
  padding: 0;
  list-style: none;
}
ul li {
  position: relative;
  margin: 0 0 6px 2em;
  padding: 4px 8px;

  background: #f6f6f6;
}
ul li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: -2px;
  left: -2em;
  width: 2em;
  padding: 4px 0;
  color: #fff;
  background: #666;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}
button {
  display: inline-block;
  color: rgb(158, 152, 152);
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: 5px 5px;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
}
button:hover {
  background: rgba(255, 255, 255, 0.2);
}
button:active {
  background: white;
}
