.App {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.Note {
  display: flex;
}
.Sublist {
  margin-left: 50px;
}

.inlineP {
  display: inline-block;
  margin-left: 10px;
}

.SubInput {
  margin-left: 50px;
}
